.weather {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #0066ff, #0047b3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.search-bar input {
  height: 50px;
  width: 280px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #8c8c8c;
  background: #d9d9d9;
  padding-left: 24px;
  font-size: 18px;
}

.search-bar-img {
  background: #d9d9d9;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.weather-icon {
  margin: 30px 0;
}

.temperature {
  color: #fff;
  font-size: 60px;
  line-height: 1;
}

.city {
  color: #fff;
  font-size: 36px;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weather-data .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  font-size: 20px;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
}

.weather-data .col .weather-data-img {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .weather {
    padding: 20px;
  }
  .search-bar input {
    width: 200px;
    font-size: 16px;
  }
  .temperature {
    font-size: 40px;
  }
  .city {
    font-size: 24px;
  }
  .weather-data .col {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  body {
    min-height: 100vh;
  }
  .search-bar input {
    width: 150px;
    font-size: 14px;
  }
  .temperature {
    font-size: 30px;
  }
  .city {
    font-size: 20px;
  }
  .weather-data .col {
    font-size: 14px;
  }
}